/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Action buttons inside grid */
.edit-btn,
.delete-btn {
  border: none;
  padding: 4px 10px;
  margin-right: 6px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Edit button */
.edit-btn {
  background: white;
  color: green;
  font-size: 16px;
}


/* Delete button */
.delete-btn {
  background: white;
  color: #c62828;
  font-size: 16px;
}



